@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MSIdentity Petshop</h1>
    <p>

        At MSIdentity Petshop, we’re passionate about helping you find the perfect companion. Whether you’re looking for a playful puppy, a curious kitten, or maybe something a little more exotic, we have a diverse selection of animals waiting to find a loving home. Our friendly staff are here to guide you through the adoption process, provide expert advice on pet care, and ensure you find a pet that fits perfectly with your lifestyle.

        Explore our online gallery, check out our health and care tips, or visit us in-store to meet your new best friend today. Your new companion is just a whisker away!

        MSIdentity Petshop: Connecting hearts, one pet at a time.
    </p>
    <img src="~/Content/Images/front_page.png">
</div>
